#root{
    --color-botton:#0061FE;
}



header{
   
    border: 3px solid green;
    width: 100%;
    /*height: 100px;*/
}
.flex{
    display: flex;
    justify-content: space-between;

   /* align-items: center;*/
    padding: 25px;
}
.logo{
    margin-right: 30px;
}
.menu1 ul{
    display: flex;
    column-gap: 30px;
}
.menu1 a{
    color: black;
    
}



.menu2 ul{
    display: flex;
    column-gap: 30px;
   
}
.menu2 a{
    color: black;
    
}

.botton-header1{
    /*height: 20px;
    width: 40px;*/
    padding: 5px;
    background-color: #FFFFFF;
    
   

}
.botton-header2{
    /*height: 20px;
    width: 40px;*/
    padding: 5px;
    background-color: #0061FE;
    color: white;
    
}
.button-flex{
    display: flex;
}

.container-light{
    display: flex;
    flex-direction: column;
    background-color: #B4D0E6;
    height: 400px;
    width: 100%;
}

.big-text{
    line-height: 2em;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
